/*common*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}

a {
	color: black;
	text-decoration: none;
}
a:hover{
	color:red;
}
ul {
	list-style: none;
}
/*头部*/
.nav-top {
	padding: 10px 20px;
	background-color: #0BA3A9;
	color: black;
	overflow: hidden;
	margin-bottom: 6px;
}

.nav-top>ul {
	margin-top: 5px;
	float: left;
	margin-left: 40px;
}

.nav-top>ul>li {
	float: left;
	padding: 3px 20px;
	margin-right: 20px;
}

.nav-top>ul>li:hover {
	background: rgba(255, 255, 255, .1);
}
/*头像*/
.avatar {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	cursor: pointer;
}
/*时间*/
.divtime{
	margin-left: 60px;
	margin-top: 10px;
	width: 400px;
	float:left;
}
.title{
	float:left;
	margin-left: 30px;
	margin-top: 8px;
	
}
/*左侧栏*/
.nav {
	float: left;
	background: #F2F2F2;
	color: black;
}

.nav>ul {
	padding: 20px 0;
}

.nav>ul>li {
	padding: 5px 30px;
}

.nav a {
	color: black;
}

.nav-2:hover {
	color: #4b88b7;
	background: #0BA3A9;
}

.content {
	float: left;
	padding: 20px;
	margin: 20px;
}
.main{
	margin-top:80px; 
	margin-left: 180px;
	height: 300px; 
	text-align: center; 
	color: #1e5494;
}
