<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lee.attendance.dao.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="lee.attendance.domain.Department" >
    <id column="deptId" property="deptId" jdbcType="INTEGER" />
    <result column="deptName" property="deptName" jdbcType="VARCHAR" />
    <result column="deptCode" property="deptCode" jdbcType="VARCHAR" />
    <result column="head" property="head" jdbcType="VARCHAR" />
    <result column="slogan" property="slogan" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    deptId, deptName, deptCode, head, slogan
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from department
    where deptId = #{deptId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from department
    where deptId = #{deptId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="lee.attendance.domain.Department" >
    insert into department (deptId, deptName, deptCode, 
      head, slogan)
    values (#{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, 
      #{head,jdbcType=VARCHAR}, #{slogan,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lee.attendance.domain.Department" >
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        deptId,
      </if>
      <if test="deptName != null" >
        deptName,
      </if>
      <if test="deptCode != null" >
        deptCode,
      </if>
      <if test="head != null" >
        head,
      </if>
      <if test="slogan != null" >
        slogan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null" >
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="head != null" >
        #{head,jdbcType=VARCHAR},
      </if>
      <if test="slogan != null" >
        #{slogan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lee.attendance.domain.Department" >
    update department
    <set >
      <if test="deptName != null" >
        deptName = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null" >
        deptCode = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="head != null" >
        head = #{head,jdbcType=VARCHAR},
      </if>
      <if test="slogan != null" >
        slogan = #{slogan,jdbcType=VARCHAR},
      </if>
    </set>
    where deptId = #{deptId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="lee.attendance.domain.Department" >
    update department
    set deptName = #{deptName,jdbcType=VARCHAR},
      deptCode = #{deptCode,jdbcType=VARCHAR},
      head = #{head,jdbcType=VARCHAR},
      slogan = #{slogan,jdbcType=VARCHAR}
    where deptId = #{deptId,jdbcType=INTEGER}
  </update>
  <!-- 根据name获取name判断信息是否存在 -->
   <select id="getNameByName" parameterType="java.lang.String" resultType="java.lang.String">
  	select  deptName from department where deptName = #{deptName, jdbcType=VARCHAR}
  </select>
  <!-- 根据name获取name，但是不在原id中 -->
  <select id="getNameByNameNoId"  resultType="java.lang.String">
  	select deptName from department where deptName = #{deptName, jdbcType=VARCHAR} and  deptId <![CDATA[!= ]]>#{deptId,jdbcType=INTEGER}
  </select>
  
  <!-- 根据code获取name判断信息是否存在 -->
  <select id="getNameByCode" parameterType="java.lang.String" resultType="java.lang.String">
  	select deptName from department where deptCode = #{deptCode, jdbcType=VARCHAR} 
  </select>
   <!-- 根据code获取name，但是不在原id中 -->
  <select id="getNameByCodeNoId" resultType="java.lang.String">
  select deptName from department where deptCode = #{deptCode, jdbcType=VARCHAR} and  deptId <![CDATA[!= ]]>#{deptId,jdbcType=INTEGER}
  </select>
  <!-- 查询所有部门 -->
  <select id="selectAllDept" resultType="Department">
  	select * from department
  </select>
  <!-- 根据id获取部门 -->                                                       
  <select id="selectDeptById" parameterType="java.lang.Integer" resultType="Department">
  	select * from department where deptId=#{deptId,jdbcType=INTEGER}
  </select>
  <!-- 查询所有的部门，id，name -->
  <select id="queryDept" resultType="Department">
  	select deptId,deptName from department
  </select>
</mapper>