<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lee.attendance.dao.LeaveMapper" >
  <resultMap id="BaseResultMap" type="lee.attendance.domain.Leave" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="examination" property="examination" jdbcType="BIT" />
    <result column="deptId" property="deptId" jdbcType="INTEGER" />
    <result column="examResult" property="examResult" jdbcType="VARCHAR" />
    <result column="examTime" property="examTime" jdbcType="TIMESTAMP" />
    <result column="leaveTime" property="leaveTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, startTime, endTime, reason, examination, deptId, examResult, examTime, 
    leaveTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from leave
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from leave
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="lee.attendance.domain.Leave" >
    insert into leave (id, userId, startTime, 
      endTime, reason, examination, 
      deptId, examResult, examTime, 
      leaveTime)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR}, #{examination,jdbcType=BIT}, 
      #{deptId,jdbcType=INTEGER}, #{examResult,jdbcType=VARCHAR}, #{examTime,jdbcType=TIMESTAMP}, 
      #{leaveTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="lee.attendance.domain.Leave" >
    insert into `leave`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="startTime != null" >
        startTime,
      </if>
      <if test="endTime != null" >
        endTime,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="examination != null" >
        examination,
      </if>
      <if test="deptId != null" >
        deptId,
      </if>
      <if test="examResult != null" >
        examResult,
      </if>
      <if test="examTime != null" >
        examTime,
      </if>
      <if test="leaveTime != null" >
        leaveTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="examination != null" >
        #{examination,jdbcType=BIT},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="examResult != null" >
        #{examResult,jdbcType=VARCHAR},
      </if>
      <if test="examTime != null" >
        #{examTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveTime != null" >
        #{leaveTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lee.attendance.domain.Leave" >
    update leave
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        startTime = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        endTime = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="examination != null" >
        examination = #{examination,jdbcType=BIT},
      </if>
      <if test="deptId != null" >
        deptId = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="examResult != null" >
        examResult = #{examResult,jdbcType=VARCHAR},
      </if>
      <if test="examTime != null" >
        examTime = #{examTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveTime != null" >
        leaveTime = #{leaveTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="lee.attendance.domain.Leave" >
    update leave
    set userId = #{userId,jdbcType=INTEGER},
      startTime = #{startTime,jdbcType=TIMESTAMP},
      endTime = #{endTime,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=VARCHAR},
      examination = #{examination,jdbcType=BIT},
      deptId = #{deptId,jdbcType=INTEGER},
      examResult = #{examResult,jdbcType=VARCHAR},
      examTime = #{examTime,jdbcType=TIMESTAMP},
      leaveTime = #{leaveTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findAllLeave" resultType="Leave">
  	select * from `leave` where userId = #{userId,jdbcType=INTEGER} and   <![CDATA[ leaveTime >= #{startTime,jdbcType=DATE}  ]]> and <![CDATA[ leaveTime <= #{endTime,jdbcType=DATE}  ]]>
  </select>
  <!-- 根据部门id查询部门请假-->
  <select id="findLeaveByDept" resultType="MemberLeave">
  	SELECT
`leave`.*, user_info.real_name AS userName
FROM
	`leave` 
LEFT JOIN user_info ON leave.userId = user_info.id
WHERE
	deptId = #{deptId, jdbcType=INTEGER} and examResult="未审核" limit #{pageNumber, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
  </select>
  <select id="findCountLeave" resultType="java.lang.Integer">
  	select count(*) from `leave` where deptId = #{deptId, jdbcType=INTEGER} and examResult="未审核"
  </select>
  <!-- 审核员工请假 -->
  <update id="checkLeave" >
  	update `leave` set examResult =#{re,jdbcType=VARCHAR}, examination=1 where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>