<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lee.attendance.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="lee.attendance.domain.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roleName" property="roleName" jdbcType="VARCHAR" />
    <result column="roleDetail" property="roleDetail" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="roleMenu" type="lee.attendance.domain.transfer.RoleMenuInfo">
  	 <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roleName" property="roleName" jdbcType="VARCHAR" />
    <result column="roleDetail" property="roleDetail" jdbcType="VARCHAR" />
    <collection property="menu" ofType="Menu" select="getMenu" column="id"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, roleName, roleDetail
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="lee.attendance.domain.Role" >
    insert into role (id, roleName, roleDetail)
    values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleDetail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lee.attendance.domain.Role" >
   <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	          SELECT LAST_INSERT_ID()
	  </selectKey>
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
       id,
      </if>
      <if test="roleName != null" >
        roleName,
      </if>
      <if test="roleDetail != null" >
        roleDetail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDetail != null" >
        #{roleDetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lee.attendance.domain.Role">
    update role
    <set>
      <if test="roleName != null" >
        roleName = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDetail != null" >
        roleDetail = #{roleDetail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="lee.attendance.domain.Role" >
    update role
    set roleName = #{roleName,jdbcType=VARCHAR},
      roleDetail = #{roleDetail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 查询所有的角色 -->
  <select id="queryRole" resultType="Role">
  	select id,roleName,roleDetail from role
  </select>
  <select id="findAllRoleMenu" parameterType="java.lang.Integer" resultMap="roleMenu">
  	select * from role where id = #{roleId, jdbcType=INTEGER}
  </select>
  <select id="getMenu" parameterType="java.lang.Integer" resultType="Menu">
  	select * from menu where id in (select menuId from role_menu where roleId=#{id, jdbcType=INTEGER})
  </select>
</mapper>